@font-face {
  font-family: "Disconnected";
  src: url("Disconnected-Regular.otf") format(opentype);
}
@font-face {
  font-family: "Typewriter";
  src: url("SmallTypeWritingMedium.ttf") format(truetype);
}
p {
  color: whitesmoke;
}
.moretti{
    width: 275px;
    position: relative;
    left: 900px;
    display: block;
}
body{
  background-image: url(fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#logo{
  width: 275px;
}
.cabeçalho li{
    display: inline;
    position: relative;
    left: 400px;
    top: -80px;
    margin-left: 30px;
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
}
.verdadeira-arte{
  font-size: 23px;
  font-family: "Typewriter";
  position: relative;
  top: -375px;
  left: 100px;
  margin-right: 1450px;
  text-overflow: clip;
}
.verdadeira-arte2{
  font-size: 23px;
  font-family: "Typewriter";
  position: relative;
  top: -375px;
  left: 100px;
  margin-right: 1450px;
  text-overflow: clip;
}
.info{
  font-size: 19px;
  font-family: "Typewriter";
  position: relative;
  top: -375px;
  left: 100px;
  margin-right: 1200px;
  text-overflow: clip;
}
